.httr-oauth
.Rproj.user
.Rproj.user/
*-Ex.R
*.csv
*.dll
*.exe
*.knit.md
*.o
*.R~
*.Rapp.history
*.RData
*.Rhistory
*.Rproj
*.so
*.tar.gz
*.utf8.md
*.zip
*Rcheck/
/*_cache/
/*.Rcheck/
/*.tar.gz
/cache/
rsconnect/
update_fork.txt
vignettes/*.html
vignettes/*.pdf
